@import 'tailwindcss';

body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.custom-stroke {
  -webkit-text-stroke: 1px black; /* text border */
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  border-radius: 8px;
}

.scrollbar::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border-radius: 8px;
}

.scrollbar-green::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollbar-green::-webkit-scrollbar-thumb {
  background-color: #14423d33;
  border-radius: 8px;
}

.scrollbar-green::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border-radius: 8px;
}

.grid-stack {
  display: grid;
}

.grid-stack > * {
  grid-area: 1 / 1;
  z-index: 0;
}

@theme {
  --color-cream: #fef3df;
  --color-cream-98: #fef3dffa;
  --color-beige: #f0e0c4;
  --color-beige-95: #f0e0c4f2;
  --color-green: #107965;
  --color-brown: #7b6d57;
  --color-dark-gray: #121212;
  --color-dark-green: #14423d;
  --color-dark-brown: #443928;

  --z-index-cart: 20;
  --z-index-toast: 100;
  --z-index-sticky-header: 100;
  --z-index-checkout-button: 10;
  --z-index-badge: 1;
}
