@import 'tailwindcss';

body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  border-radius: 8px;
}

.scrollbar::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border-radius: 8px;
}

.grid-stack {
  display: grid;
}

.grid-stack > * {
  grid-area: 1 / 1;
  z-index: 0;
}

@theme {
  --color-dark-green: #14423d;
  --color-green: #107965;
  --color-cream: #fef3df;
  --color-beige: #f0e0c4;
  --color-dark-gray: #121212;
}
