@import 'tailwindcss';

body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;

  /* lg */
  @media (min-width: 1024px) {
    overflow-x: auto;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  border-radius: 8px;
}

.scrollbar::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border-radius: 8px;
}

@theme {
  --color-dark-green: #27413e;
  --color-cream: #fff7e5;
  --color-beige: #ebdec1;
  --color-dark-gray: #121212;
}
